.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 32px;

    &__item {
      padding: 20px;
      div{
        color: var(--black);
      }
    }
  
    // Last column spans both rows
    & > &__item:nth-child(3) {
      grid-row: span 2;
    }
  
    // Responsive design
    @media (max-width: 1200px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, auto);
  
      & > &__item:nth-child(3) {
        grid-row: auto;
        grid-column: span 2;
      }
    }
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
  
      & > &__item:nth-child(3) {
        grid-row: auto;
        grid-column: auto;
      }
    }
  }