.sidebar {
    background-color: var(--sidebar-background);
    box-shadow: 0px 0px 10px rgba(0, 11, 20, 0.04);
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100vh - 80px);
    width: 180px;
    z-index: 1000;
    transition: all 0.3s ease;
    @media only screen and (max-width: 575.98px) {
        width: 0;
        padding: 0;
    }

    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 10px;
            text-align: center;
            a {
                color: var(--gray);
                text-decoration: none;
                display: block;
                padding: 10px;
                border-radius: 8px;
                transition: all 0.3s ease;
                font-weight: 500;
                &:hover,&.active {
                    background-color: var(--primary-light);
                    color: var(--sidebar-active);

                    .sidebar__icon {
                        color: var(--sidebar-active);
                    }
                }
            }
            .sidebar__icon {
                margin-bottom: 10px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
                color: var(--gray);
                fill: none;
            }
        }
    }
}